# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log
crash.*.log
.terraform.lock.hcl

# Node
node_modules/
dist/
.next/
out/

# Ambiente
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
*.log
