project_name = "leadflow"
aws_region   = "us-east-1"
environment  = "production"

db_username = "leadflow_admin"

ecs_task_cpu      = 512
ecs_task_memory   = 1024
ecs_desired_count = 2

container_port = 3000
